#about .section-description {
  max-width: 658px;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-list {
  counter-reset: item;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.about-item {
  padding: 32px;
  background-color: var(--gray);
  border-radius: 16px;
}

.about-item::before {
  display: block;
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  margin-bottom: 16px;
  color: var(--green);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.035em;
}

.about-item-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

.about-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  background-color: var(--green);
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .about-content {
    gap: 32px;
    border-radius: 30px;

  }

  .about-list {
    gap: 32px;
  }

  .about-item {
    flex-basis: calc((100% - 32px) / 2);
    border-radius: 30px;
  }

  .about-image {
    padding: 35px 0;
    border-radius: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .about-content {
    flex-direction: row;
  }

  .about-list {
    max-width: 682px;
  }

  .about-image {
    flex-grow: 1;
    padding: 90px 0;
  }
}
