.footer-section {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: var(--black);
}

.footer-main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--footer-line-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white);
}

.footer-main-text {
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  transition: color var(--transition-duration-time-function);
}

.footer-main-text:hover,
.footer-main-text:focus {
  color: var(--hover-focus-color);
}

.footer-adress-list {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}

.footer-adress-list-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-socials-list {
  display: flex;
  gap: 12px;
}

.footer-socials-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid var(--footer-line-color);
  transition: border-color var(--transition-duration-time-function);
}

.footer-socials-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  color: var(--white);
}

.footer-socials-list-item-link-icon {
  fill: currentColor;
  transition: fill var(--transition-duration-time-function);
}

.footer-socials-list-item:hover,
.footer-socials-list-item:focus {
  border-color: var(--hover-focus-color);
}

.footer-socials-list-item:hover .footer-socials-list-item-link-icon,
.footer-socials-list-item:focus .footer-socials-list-item-link-icon,
.footer-socials-list-item:active .footer-socials-list-item-link-icon {
  fill: var(--hover-focus-color);
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.footer-info-text {
  color: var(--footer-info-text);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.002em;
}

.footer-info-btn-wrapper {
  display: flex;
  gap: 18px;
}

.footer-info-btn {
  transition: color var(--transition-duration-time-function);
}

.footer-info-btn:hover,
.footer-info-btn:focus {
  color: var(--hover-focus-color);
}

.footer-info-wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}


@media screen and (min-width: 768px) {
  .footer-section {
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .footer-main-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-bottom: 110px;
  }

  .footer-logo {
    margin-bottom: 32px;
  }

  .footer-info {
    width: 100%;
    flex-wrap: nowrap;
    gap: unset;
    justify-content: space-between;
    align-items: center;
  }
    .footer-info-wrapper{
    width: auto;
    flex-direction: row;
    flex-grow: 0.5;
  }
}

@media screen and (min-width: 1280px) {
  .footer-section {
    padding-top: 64px;
    padding-bottom: 23px;
  }

  .footer-main-wrapper {
    margin-bottom: 23px;
    padding-bottom: 64px;
  }
}