<div id="footer" class="footer-section">
  <div class="container">
    <div class="footer-main-wrapper">
      <div>
        <a class="logo footer-logo" href="./index.html">
          english<span class="logo-accent">excellence</span>.
        </a>
        <address>
          <ul class="list footer-adress-list">
            <li class="footer-adress-list-item">
              <p class="footer-info-text">Phone number:</p>
              <a class="link footer-main-text" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-adress-list-item">
              <p class="footer-info-text">Address:</p>
              <a
                class="link footer-main-text"
                href="https://goo.gl/maps/KUWZpUiHAd7rswvi6"
                target="_blank"
                rel="noopener noreferrer"
                >32a M. Bazhana ave</a
              >
            </li>
          </ul>
        </address>
      </div>
      <nav>
        <ul class="list footer-nav-list">
          <li>
            <a href="#about" class="link footer-main-text">About us</a>
          </li>
          <li>
            <a href="#lessons" class="link footer-main-text">Our lessons</a>
          </li>
          <li>
            <a href="#teachers" class="link footer-main-text">Teachers</a>
          </li>
          <li>
            <a href="#reviews" class="link footer-main-text">Reviews</a>
          </li>
          <li>
            <a href="#contact" class="link footer-main-text">Contact us</a>
          </li>
        </ul>
      </nav>
      <ul class="list footer-socials-list">
        <li class="footer-socials-list-item">
          <a
            class="link footer-socials-list-item-link"
            href="https://www.facebook.com/goITclub/"
            aria-label="facebook icon"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="footer-socials-list-item-link-icon"
              width="26"
              height="26"
            >
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-list-item">
          <a
            class="link footer-socials-list-item-link"
            href="https://www.instagram.com/goitclub/"
            aria-label="instagram icon"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="footer-socials-list-item-link-icon"
              width="26"
              height="26"
            >
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-list-item">
          <a
            class="link footer-socials-list-item-link"
            href="https://www.youtube.com/c/GoIT"
            aria-label="youtube icon"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="footer-socials-list-item-link-icon"
              width="26"
              height="26"
            >
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-info">
      <p class="footer-info-text">
        &#xa9;2023 English Excellence. All rights reserved.
      </p>
      <ul class="list footer-info-btn-wrapper">
        <li>
          <button
          type="button"
            class="footer-info-text footer-info-btn"
            id="info-open-btn"
          >
            Privacy Policy
          </button>
        </li>
        <li>
          <button
          type="button"
            class="footer-info-text footer-info-btn"
            id="terms-open-btn"
          >
            Terms of Service
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
